/*---------------------------------Nav Bar-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #f8c053!important;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: 15;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;

}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  font-weight: 500;
  margin-left: 350px;
  display: flex;
}
.content .logo{
  width: 280px;
  margin-bottom: 14px;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  text-decoration: none;
  font-family: inherit;
  color: white;
  font-size: 18px;
  font-weight: inherit;
  padding: 9px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}

.wrapper .search-icon,
.wrapper .menu-icon{
  color: white;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}


.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #fff;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
}

.content .links li:hover > ul{
  top: 62px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;

}
.content .links li .drop:hover{
     background: #dbdbdb;
}
.content .links ul li a{
  color: #727272;
  display: block;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
.nav-ul a{
  padding: 0;
}

@media (max-width: 1100px){
  .open-menu {
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      right: 0;
      top: 40px;
      transition: transform 250ms ease;
  }
  }
  
  .fa-plus {
      color: #fff;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .fa-plus:before {
    content: "\f067";
  }

/* Responsive code start */

@media screen and (max-width: 1507px){
.wrapper{
  height: 100px;
  position: relative;
}

  .wrapper nav{
    position: relative;
    max-width: 100%;
    padding: 0 15px;
  }
  nav .content .links{
    margin-left: 100px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1060px){

section{
  padding: 0;
}

  .home img{

    padding-top: 80px;
  }

  .wrapper{
height: 80px;
position: fixed;

  }
  .wrapper nav{
    max-width: 100%;
    padding: 0;
    height: 30px;
  }
  nav .content .links{
    margin-left: 20px;

  }
  .content .links li a{
    padding: 17px;
    font-size: 14px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }

  .content .logo{
    width: 70%;
    margin-bottom: 5px;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background: #f8c053!important;
    height: 100%;
    width: 70%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;

  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  }
  .content .links li{

    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul
  {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);

  }

  .content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;

}
  .content .links #show-about:checked ~ ul,
  .content .links #show-work:checked ~ ul,
  .content .links #show-events:checked ~ ul,
  .content .links #show-get:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    color: white;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 500px){

  .wrapper nav{
    padding: 0 10px;
  }

  .content .logo {
    size: 27px;
    margin-left: 10%;
    align-items: center;
  }

}

/*--------------------------------Top-container------------------*/
.core-team{
  padding-top: 100px;
}
section{
  background-color: #ececec;
}

/***************************************CORE TEAM*********************************************/
.container-fluid,
.container {
    max-width: 1200px;
}
.profile-card-2 {
  max-width: 280px;
  height: 360px;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 80px;;
}

.profile-card-2 img {
  transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 13px;
  bottom: 70px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
  font-family: poppins;
  font-size: 15px;
  color: #fdfff5;
  text-transform: uppercase;
}

.profile-card-2 .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #FFF;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  bottom: 35px;
  left: 30px;
  color: #fdfff5;
  font-family: poppins;
  font-weight: bold;
    text-transform: uppercase;
  font-size: 13px;
  transition: all linear 0.25s;
}
.profile-username{
 left:15px !important;
 color: #FFF;
 font-weight: bolder;
}

.profile-card-2 .profile-icons  {
  margin: 5px;
  font-size: 12px;
  color: #FFF;
}
.profile-card-2:hover{
  box-shadow: 0 0 35px #f8c053;
}
.profile-card-2:hover img {
  filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
  bottom: 90px;
}

.profile-card-2:hover .profile-username {
  bottom: 10px;
}

.profile-card-2:hover .profile-icons {
  right: 40px;
}

.core-team h1{
  text-align: center;
  font: normal normal bold 55px Poppins;
  letter-spacing: 5px;
  color: #f8bf53;
  padding-top: 4%;
  padding-bottom: 4%;
}

.core-team h1:after {
  width: 100px;
  height: 4px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

.social-media-team h1{
  text-align: center;
  font: normal normal bold 55px Poppins;
  letter-spacing: 5px;
  color: #f8bf53;
  padding-top: 4%;
  padding-bottom: 4%;
}

.social-media-team h1:after {
  width: 100px;
  height: 2px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}


.website-teams h1{
  text-align: center;
  font: normal normal bold 55px Poppins;
  letter-spacing: 5px;
  color: #f8bf53;
  padding-top: 4%;
  padding-bottom: 4%;
}

.website-teams h1:after {
  width: 100px;
  height: 2px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}


.core-team h4{
  margin: 30px 0 5px 0;
font-family: poppins;
font-size: 25px;
color: #818181;
text-transform: uppercase;
}


h3{
  color: #a9a9a9;
}

.responsive-photo-social-medai-team{
  text-align: center;
  margin-top: 3%;

}

.responsive-photo-website-team{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.profile-pic{
  border: 12px double #F2CB05;
  border-radius: 50%;
  margin-bottom: 7%;
  height:220px;
  width: 220px;
}



/*---------------------------------Footer-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
}
footer{
  position: relative;
  background: #f8c053;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  background: #f8c053;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.fa{
  color: black;
  font-size:18px;
  margin-right:10px;
}

footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
 img{
   width: 300px;
 }
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: black;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: black;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: black;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: black;
  opacity: 0.5;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #fff;
  font-size: 16px;
}
.link-boxes .input-box input[type="submit"]{
  background: black;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: .8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="submit"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #6c6c6c;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
