@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body, html {

    overscroll-behavior: none!important;
    overflow-x: hidden!important;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth!important;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
}

article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section {
    display: block;
}

.wrapper{
  background: #f8c053!important;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: 15;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;

}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  font-weight: 500;
  margin-left: 350px;
  display: flex;
}
.content .logo{
  width: 280px;
  margin-bottom: 14px;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  text-decoration: none;
  font-family: inherit;
  color: white;
  font-size: 18px;
  font-weight: inherit;
  padding: 9px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}

.wrapper .search-icon,
.wrapper .menu-icon{
  color: white;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}


.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #fff;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
}

.content .links li:hover > ul{
  top: 62px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;

}
.content .links li .drop:hover{
     background: #dbdbdb;
}
.content .links ul li a{
  color: #727272;
  display: block;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
.nav-ul a{
  padding: 0;
}

@media (max-width: 1100px){
  .open-menu {
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      position: absolute;
      right: 0;
      top: 40px;
      transition: transform 250ms ease;
  }
  }
  
  .fa-plus {
      color: #fff;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .fa-plus:before {
    content: "\f067";
  }

/* Responsive code start */

@media screen and (max-width: 1507px){
.wrapper{
  height: 100px;
  position: relative;
}

  .wrapper nav{
    position: relative;
    max-width: 100%;
    padding: 0 15px;
  }
  nav .content .links{
    margin-left: 100px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1060px){

section{
  padding: 0;
}

  .home img{

    padding-top: 80px;
  }

  .wrapper{
height: 80px;
position: fixed;

  }
  .wrapper nav{
    max-width: 100%;
    padding: 0;
    height: 30px;
  }
  nav .content .links{
    margin-left: 20px;

  }
  .content .links li a{
    padding: 17px;
    font-size: 14px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }

  .content .logo{
    width: 70%;
    margin-bottom: 5px;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background: #f8c053!important;
    height: 100%;
    width: 70%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;

  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  }
  .content .links li{

    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul
  {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);

  }

  .content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;

}
  .content .links #show-about:checked ~ ul,
  .content .links #show-work:checked ~ ul,
  .content .links #show-events:checked ~ ul,
  .content .links #show-get:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    color: white;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 500px){

  .wrapper nav{
    padding: 0 10px;
  }

  .content .logo {
    size: 27px;
    margin-left: 10%;
    align-items: center;
  }

}



/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#footer{
  background-color: #f8c053;
}

footer{
  position: relative;
  background-color: #f8c053;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  background: #f8c053;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.fa{
  color: black;
  font-size:18px;
  margin-right:10px;
}

footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
 img{
   width: 300px;
 }
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: black;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: black;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: black;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: black;
  opacity: 0.5;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #fff;
  font-size: 16px;
}
.link-boxes .input-box input[type="submit"]{
  background: black;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: .8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="submit"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #6c6c6c;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

/*home*/

article, aside, details, figcaption, figure, header, hgroup, main, menu, section {
    display: block;
}

.row {
    padding-bottom: 0;
    margin: 0 -10px;
}

.main-banner .col {
    margin: 0;
}
.col {
    display: block;
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.main-image {
    position: relative;
}
.main-image {
    overflow: hidden;
}

.main-image img {
    transform: scale(1);
    transition: .7s all ease-in-out;
}

.main-image img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 768px){
    .education-content.swatantra-content {
        transform: none;
        left: 0;
        top: 0;
    }
    
}

.education-content.swatantra-content {
    transform: translate(0,-50%);
    left: 5%;
    top: 53%;
}
@media only screen and (max-width: 768px){
    .education-content {
        position: static;
        top: 0;
        left: 0;
        transform: none;
        padding-top: 20px;
    }
}

.education-content {
    position: absolute;
    left: 10%;
    top: 50%;
}

@media only screen and (max-width: 768px){
    .education-content.swatantra-content h2, .stories .hero-content h2 {
        font-size: 25px;
    }
}


@media only screen and (max-width: 768px){
    .education-content.swatantra-content h2 {
        text-align: center;
        line-height: 31px;
        padding-bottom: 12px;
        letter-spacing: 2.2px;
        font-size: 27px;
    }
}

.education-content.swatantra-content h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-align: left;
}
@media only screen and (max-width: 768px){
    .education-content h2, .education-content.swatantra-content h4 {
        color: #000;
    }
}

@media only screen and (max-width: 768px){
    .education-content h2 {
        line-height: 39px;
        font-size: 26px;
        color: #000;
    }
}

.education-content h2 {
    font-family: Poppins;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    text-transform: inherit;
    font-weight: 400;
}

.education-content.swatantra-content h1 {
    font-family: Poppins;
    color: #fff;
    font-size: 24px;
    text-align: left;
    line-height: 45px;
    text-transform: inherit;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2.4px;
}

.clr:after, .col:after, .container:after, .group:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px){
    .swatantra-content-sec {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1159px){
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
    .swatantra-div {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

.education-div .row:first-child, .swatantra-div .row:first-child, section#shiskha .vikas .row:first-child {
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

.row {
    padding-bottom: 0;
    margin: 0 -10px;
}

.swatantra-div {
    margin-top: 80px;
}

@media only screen and (max-width: 768px){
    .education-div .col.span_6:first-child, .education-div .col.span_6:nth-child(2), .para-wrapper .row .col.span_6:first-child, .para-wrapper .row .col.span_6:nth-child(2), .swatantra-content-sec .swatantra-div .col.span_6:first-child, .swatantra-content-sec .swatantra-div .col.span_6:nth-child(2), .swatantra-div .row .col.span_6:first-child, .swatantra-div .row .col.span_6:nth-child(2), section#shiskha .vikas .row .col.span_6:first-child, section#shiskha .vikas .row .col.span_6:nth-child(2) {
        padding: 0;
    }
    
}

.education-div .col.span_6:first-child, .para-wrapper .row .col.span_6:first-child, .swatantra-content-sec .swatantra-div .col.span_6:first-child, .swatantra-div .row .col.span_6:first-child, section#shiskha .vikas .row .col.span_6:first-child {
    padding-right: 30px;
}
@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

.col {
    display: block;
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.swatantra-div img, section#shiskha img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
}

@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

.swatantra .swatantra-content-sec .swatantra-div p {
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .swatantra-div p {
        font-size: 16px;
        line-height: 28px;
    }
}

.swatantra-div p {
    font-size: 20px;
    color: #727272;
    text-transform: initial;
    line-height: 40px;
    font-family: Poppins,sans-serif;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1.17px;
}
@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}

p {
    font-family: Poppins;
    color: #727272;
}

@media only screen and (max-width: 768px){
    .page-template-shikshaantra-Plus .vikas *, .swatantra-content-sec * {
        margin-left: 0;
        margin-right: 0;
    }
}


strong {
    font-weight: 700!important;
}

@media only screen and (min-width: 768px){
    .span_6 {
        width: 50%;
    }
}

.accomplishment-sec.swatantra-accomplishment-sec {
    margin-top: 50px;
}
.accomplishment-sec.swatantra-accomplishment-sec .container {
    background: #f4f4f4;
    padding: 30px 50px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.accomplishment-sec .ambasdar-head h2 {
    letter-spacing: 6.4px;
    font-size: 55px;
    position: relative;
}
.ambasdar-head h2 {
    font-size: 40px;
}
.ambasdar-head h2 {
    color: #727272;
    text-transform: initial;
    letter-spacing: 3.44px;
    line-height: 75px;
    font-family: Poppins,sans-serif;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin: 0 0 15px;
}

h2>sup {
    font-size: 30px;
    position: absolute;
    top: -10px;
}

.swatantra-accomplishment {
    padding-top: 30px;
}

.swatantra-accomplishment ul {
    margin: 0 -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ol, ul {
    list-style: none;
}

.swatantra-accomplishment ul li {
    width: 33.33%;
    float: left;
    padding: 0 20px;
    margin-bottom: 45px;
}

.swatantra-accomplishment ul li .swatantra-accomplishment-img {
    display: block;
    vertical-align: middle;
    text-align: center;
}

.swatantra-accomplishment ul li .swatantra-accomplishment-img img {
    max-width: 75px;
}

.swatantra-accomplishment ul li .swatantra-accomplishment-img {
    display: block;
    vertical-align: middle;
    text-align: center;
}

.swatantra-accomplishment ul li .swatantra-accomplishment-img p {
    font-size: 16px;
    color: #727272;
    text-transform: initial;
    line-height: 25px;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    letter-spacing: 1.32px;
    text-align: left;
    padding-left: 15px;
    text-align: center;
}

.swatantra-accomplishment ul li .swatantra-accomplishment-img p strong {
    font-weight: 700;
    display: block;
    text-align: center;
}

strong {
    font-weight: 700!important;
}


@media only screen and (max-width: 768px) {
    .accomplishment-sec, .khushi-education-sec {
        padding: 0 0;
    }


.accomplishment-sec {
    padding: 30px 0;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.ambasdar-head {
    padding-bottom: 10px;
    padding-top: 15px;
}
.accomplishment-sec .ambasdar-head h2, .programme-sec .ambasdar-head h2 {
    font-size: 25px;
    margin-left: -10px;
}
.accomplishment-sec .ambasdar-head h2, .programme-sec .ambasdar-head h2 {
    letter-spacing: 2.4px;
    font-size: 32px;
    line-height: 25px;    
}
.swatantra-accomplishment ul li {
    width: 50%;
}
.education-content.swatantra-content {
    transform: none;
    left: 0;
    top: 0;
}
.education-content {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 20px;
}
.education-content.swatantra-content h2, .stories .hero-content h2 {
    font-size: 25px;
}
.education-content.swatantra-content h2 {
    text-align: center;
    line-height: 31px;
    padding-bottom: 12px;
    letter-spacing: 2.2px;
    font-size: 27px;
}
.education-content h2, .education-content.swatantra-content h4 {
    color: #000;
}
}

@media only screen and (max-width: 400px){
  .accomplishment-sec .ambasdar-head h2, .programme-sec .ambasdar-head h2 {
    font-size: 25px;
    margin-left: -10px;
}
}

@media only screen and (max-width: 550px){
  .swatantra-accomplishment ul li {
    padding: 0;
    width: 90%;
}
}
